<!doctype html>
<html lang="en">
<head>
    <title>meadowlark travel</title>
    <link rel="stylesheet" type="text/css" href="css/index.css">
</head>
<body>
    <header><img src="/img/logo.jpg" alt=""></header>
    {{{body}}}
</body>
</html>