 <div class="containter">
        <div class="left">
            <div class="article">
                <div class="inner">
                    <h2>我的第一片文章</h2>
                    <p class="content">
                        马无夜草不肥，人无外财不富。
                    </p>
                    <span class="time"><i class="time-icon"></i>2016-07-16</span>
                    <a href="" class="tag"><i class="tag-tri"></i><span class="tag-div"><i class="point"></i>生活</span></a>
                </div>
            </div>
        </div>
        <div style="position:fixed;width:300px;height:100%;overflow:hidden;right:0;">
            <div id="picLoop" class="right">
                <div class="shade"></div>
                <div class="per-img-box">
                    <div class="placeholder">
                        <a href="/" class="headpic">
                            <img src="img/per.jpg" alt="">
                        </a>
                    </div>
                    <h1 class='author'>Convert</h1>
                </div>
                <div id="changeBtn" class="gobtn">目录</div>
            </div>
            <div id='List' class="right2">
                <span id="goBack" class="goback"></span>
                <div class="today">
                    Today:<span id="today"></span>
                </div>
                <div class="r-item comeon">岁月不饶人啊!  小伙子，好好敲代码，主席看好你！</div>
                <div class="r-item">
                    <h3>标签</h3>
                    <ul>
                        <a href=""><li>生活</li></a>
                        <a href=""><li>技术</li></a>
                    </ul>
                </div>
                <div class="r-item">
                    <h3>最新文章</h3>
                    <ul>
                        <a href=""><li>我的第一篇文章</li></a>
                        <a href=""><li>斑马斑马</li></a>
                    </ul>
                </div>
                <a class="login" href="">login&rarr;</a>
            </div>
        </div>
    </div>