
    <div class="login">
        <label for="">用户名：</label><input id="username" type="text">
        <label for="">密码：</label><input id="password" type="password">
        <div id="loginBtn" class="login-btn">登录</div>
    </div>
    
