<link href="css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="css/froala_editor.min.css" rel="stylesheet" type="text/css">
    <style type="text/css">
        #editor {
        bacground-color:#fff;
        }
        section {
            width: 80%;
            margin:auto;
            text-align: left;
        }
        .release-btn {
        margin:60px auto;
        }
        .a-title {
        width:980px;
        margin:0 auto;
        }
        .tag {
        width:200px;
        margin:0 auto;
        }
    </style>
<p class="title">发布文章</p>
    <div class="a-title">
        <label for="">标题：</label><input id="title" type="text">
    </div>
    <div class="tag">
        <label class="tag-label" for="">tag：</label><label class="label-item"><input value="0" name="tag" type="radio">生活</label><label class="label-item"><input value="1" name="tag" type="radio">技术</label>
    </div>
    <section id="editor">
          <div id='edit' style="margin-top: 30px;">
              
          </div>
    </section>
    <div id="release" class="release-btn">发布</div>
      <script type="text/javascript" src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
      <script src="js/froala_editor.min.js"></script>
      <!--[if lt IE 9]>
        <script src="../js/froala_editor_ie8.min.js"></script>
      <![endif]-->
      <script src="js/plugins/tables.min.js"></script>
      <script src="js/plugins/lists.min.js"></script>
      <script src="js/plugins/colors.min.js"></script>
      <script src="js/plugins/media_manager.min.js"></script>
      <script src="js/plugins/font_family.min.js"></script>
      <script src="js/plugins/font_size.min.js"></script>
      <script src="js/plugins/block_styles.min.js"></script>
      <script src="js/plugins/video.min.js"></script>

      <script>
          $(function(){
              $('#edit').editable({inlineMode: false, alwaysBlank: true})
          });
        $('#release').on('click',function(){
            var title = $('#title').val(),
                content = $('textarea').val(),
                date = new Date(),
                year = date.getFullYear().toString(),
                month = date.getMonth()+1,
                day = date.getDate(),
                now = year+'-'+month+'-'+day,
                art={
                    title:title,
                    content:content,
                    author:'zhiruoyu',
                    date:now,
                    tag:$('input[type="radio"]:checked').val()
                };
                console.log(art)
            if(title==''){
                alert('标题不能为空');
                return;
            }
            if(content==''){
                alert('内容不能为空');
                return;
            }
            $.post('/write',art,function(data){
            console.log(data);
                if(data.sucess){
                    window.location.href='/index';
                }else if(!data){
                alert('发布失败！');
                }
            })
        })
    </script>